@page
@model ProjetoNadd3.Pages.Disciplinas.CreateModel

@{
    ViewData["Title"] = "Disciplina";
}

    <h2>Criar Diciplina</h2>

<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nome da Disciplina:</label>
                <input asp-for="Disciplina.Dis_Nome" class="form-control" />
                <span asp-validation-for="Disciplina.Dis_Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ano da Disciplina:</label>
                <input asp-for="Disciplina.Dis_Ano" class="form-control" />
                <span asp-validation-for="Disciplina.Dis_Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Periodo da Disciplina:</label>
                <input asp-for="Disciplina.Dis_Periodo" class="form-control" />
                <span asp-validation-for="Disciplina.Dis_Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Curso da Disciplina:</label>
                <select asp-for="Disciplina.CursosId" class ="form-control" asp-items="ViewBag.CursosId"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Professor da Disciplina</label>
                <select asp-for="Disciplina.ProfessoresId" class ="form-control" asp-items="ViewBag.ProfessoresId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
