<!DOCTYPE html>
<html>
<head>

    <!-- Icon -->
    <link rel="icon" href="~/img/core-img/nadd.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/table.css">


	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - NADD</title>

    <!-- Icon -->
    <link rel="icon" href="./img/core-img/nadd.ico">
    <environment include="Development">
	<!-- Stylesheet -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~style.css">
		<link rel="stylesheet" type="text/css" href="~/css/table.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- /Preloader -->
    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-5">
                        <div class="top-header-content">
                            <p>Bem Vindo ao NADD</p>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="top-header-content text-right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header Area End -->
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="naddNav">

                        <!-- Logo -->
                        <!-- <a class="nav-brand" href="index.html"><img src="./img/core-img/logo.png" alt=""></a>  -->
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="./login.html">Login</a></li>
                                    <li>
                                        <a href="#">Cadastro</a>
                                        <ul class="dropdown">
                                            <li><a href="~/Areas">- Cadastro Área</a></li>
                                            <li><a href="~/Cursos">- Cadastro Curso</a></li>
                                            <li><a href="~/Disciplinas">- Cadastro Disciplina</a></li>
                                            <li><a href="~/Professores">- Cadastro Professor</a></li>
                                            <li><a href="~/Provas">- Cadastro Prova</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/Avaliacoes">Avaliar</a></li>
                                    <li><a href="">Relatório</a></li>
                                    <li>
                                        <a href="#">Administração</a>
                                        <ul class="dropdown">
                                            <li><a href="~/Usuarios">- Cadastro Usuários</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - ProjetoNadd3</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="~/js/nadd.bundle.js"></script>
    <!-- Active -->
    <script src="~/js/default-assets/active.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
