@page
@model ProjetoNadd3.Pages.Usuarios.EditModel

@{
    ViewData["Title"] = "Usuário";
}

<h2>Editar</h2>

<h4>Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usuario.Id" />
            <div class="form-group">
                <label class="control-label">Nome/Login:</label>
                <input asp-for="Usuario.Usu_Nome" class="form-control" />
                <span asp-validation-for="Usuario.Usu_Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Senha:</label>
                <input asp-for="Usuario.Usu_Senha" class="form-control" />
                <span asp-validation-for="Usuario.Usu_Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Perfil:</label>
                <select asp-for="Usuario.PerfisId" class="form-control" asp-items="ViewBag.PerfisId"></select>
                <span asp-validation-for="Usuario.PerfisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
